<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">x</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        x<br />
        Cofounder of <a href="http://github.com/">GitHub</a><br />
        x@x.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/x/">github.com/x</a><br />
        <a href="http://twitter.com/x/">twitter.com/x</a><br />
        <a href="http://flickr.com/photos/x/">flickr.com/photos/x</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/x">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>


</body>
</html>
